@model DoctorsOffice.ViewModels.DoctorDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2 class="dark-text">Delete doctor</h2>
<hr />
@if (Model.Image.ImgUrl != null)
{
    <img src="@(Url.Content(Model.Image.ImgUrl))" class="col-md-2 float-md-right" />
}
@if (Model.Image.ImgUrl == null)
{
    <img src="@Url.Action("GetImage", new { id = Model.Image.ID})" alt="Doctors photo" class="col-md-2 float-md-right" />
}
<div class="col-md-9">

    <div class="alert alert-info fade show blue-bckg font-weight-bold mon dark-text" role="alert">
        @Html.DisplayFor(model => model.Alert)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="dark-text">
            <button type="submit" value="Delete" class="btn btn-default dark-blue-bckg light-text">Delete</button>
            <strong class="back-link">  | @Html.ActionLink("Back to List", "Index")</strong>
        </div>
    }
</div>


@*@if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.Message');
            };
        </script>
    }*@
