@model DoctorsOffice.ViewModels.PatientDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2 class="dark-text">Delete patient</h2>
<div class="col-md-9">
    <div class="alert alert-info fade show blue-bckg font-weight-bold mon dark-text" role="alert">
        @Html.DisplayFor(model => model.Alert)
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Social Security Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientSocSecurityNum)
        </dd>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="dark-text">
            <button type="submit" value="Delete" class="btn btn-default dark-blue-bckg light-text">Delete</button>
            <strong class="back-link">  | @Html.ActionLink("Back to List", "Index")</strong>
        </div>
    }
</div>
