<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Doctor's Office</title>
    <link rel="stylesheet" href="../../Content/my-style.css" media="all" />
    <link rel="stylesheet" href="../../Content/print.css" media="print" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="w-100">
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark dark-blue-bckg w-100">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("Doctors Office", "Index", "Home", new { area = "" }, new { @class = "navbar-brand pl-5" })
        <div class="collapse navbar-collapse no-print" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-2 light-text">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="nav-item px-2 light-text">
                    @Html.ActionLink("About", "About", "Home")
                </li>
                <li class="nav-item px-2 light-text">
                    @Html.ActionLink("Contact", "Contact", "Home")
                </li>
                <li class="nav-item px-2 light-text">
                    @Html.ActionLink("Doctors", "Index", "Doctors")
                </li>
                <li class="nav-item px-2 light-text">
                    @Html.ActionLink("Patients", "Index", "Patients")
                </li>
                <li class="nav-item px-2 light-text">
                    @Html.ActionLink("Examinations", "Index", "Examinations")
                </li>
                <li class="nav-item px-2 light-text">
                    @Html.ActionLink("Administration", "Index", "Administration")
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container body-content main-container w-100">
        @RenderBody()
    </div>

    <footer class="py-2 dark-blue-bckg light-text w-100">
        <div class="row">
            <p class="col-md-6 text-left pl-5">&copy; @DateTime.Now.Year - Doctor's Office</p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
