@model DoctorsOffice.ViewModels.ExaminationDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2 class="dark-text">Delete examination</h2>

<h3 class="dark-text">Are you sure you want to delete this?</h3>
<div>
    <h4 class="dark-text">Examination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetFullPatientsName)
        </dd>

        <dt>
            Date of Examination
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamDate)
        </dd>

        <dt>
            Diagnose
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnose)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="dark-text">
            <button type="submit" value="Delete" class="btn btn-default dark-blue-bckg light-text">Delete</button>
            <strong class="back-link">  | @Html.ActionLink("Back to List", "Index")</strong>
        </div>
    }
</div>
