@model DoctorsOffice.ViewModels.ExaminationCRUViewModel

@{
    ViewBag.Title = "Details";
}

<h2 class="dark-text">Examination's details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetFullPatientsName)
        </dd>

        <dt>
            Doctor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetFullDoctorsName)
        </dd>

        <dt>
            Date of Examination
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamDate)
        </dd>

        <dt>
            Diagnose
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnose)
        </dd>

        <dt>
            Lab Results
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabResult)
        </dd>

        <dt>
            Examination Results
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamResult)
        </dd>

    </dl>
</div>
<p class="dark-text text-bold">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExaminationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<p class="dark-text">*For printing of this examination go to edit form.</p>
