@model IEnumerable<DoctorsOffice.Data.Examination>

@{
    ViewBag.Title = "Index";
}

<h2 class="dark-text">Examinations</h2>

<p class="dark-text text-bold">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bcg dark-text">
    <tr class="dark-text">
        <th>
            Patient
        </th>
        <th>
            Doctor
        </th>
        <th>
            Date of Examination
        </th>
        <th>
            Diagnose (code)
        </th>
       <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfVisit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiagnoseCode)
        </td>
        <td class="text-bold">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
